@import './variables.scss';
@import './transition.scss';
body {
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
// element table 截字样式
.cutting-word {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}