@import '@/styles/variables.scss';
.el-menu--vertical{
  .el-menu--popup {
    background: $menuBg;
    .el-menu-item:hover, .el-menu-item:focus,.el-submenu__title:hover{
      background-color: rgba(0,0,0,0.3);
    }
  }
}
.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // width: 200px;  
  background-color: $menuBg;
  .el-scrollbar{
    height: 100%;
    .scrollbar-wrapper{
      padding-right: 11px;
      overflow-x: hidden;
      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }
  
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
      .el-menu-vertical:not(.el-menu--collapse) {
        width: 200px; 
      }
      .el-menu--collapse{
        .el-submenu__title{
          span{
            font-size: 0; 
          }
        }
      }
      .el-menu--collapse,.el-menu-vertical,.el-menu{
        background: $menuBg;
        border: none;
      }
      .is-opened{
        .el-menu{
          background-color: $menuHover;
        }
      } 
    }
  }
  .el-menu-item:hover, .el-menu-item:focus,.el-submenu__title:hover{
    background-color: rgba(0,0,0,0.3);
  }
}